#map {
  min-height: 360px;
  height: 400px;
  margin-top: 20px;
}


#logo {
  width: auto;
  height: 100px;
}

.top-div {
  padding: 0px;
}

.search-box {
  padding-top: 0.5rem;
  margin-bottom: 0.25em !important;
}





/*#img {*/
/*  height: 400px;*/
/*  width: 600px;*/
/*}*/

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

#note_div {
  color: #F85157;
  font-size: 13px;
  padding-left: 10px;
  margin-bottom: 20px;
  float: left;
}



#buttons_div_id {
  text-align: left;
  float: left;
  padding: 0px;
}

#display_filter_selection_id {
  text-align: left;
  color: #F98E51;
  font-weight: bold;
  font-size: 20px;
  float: left;
}

.p_in_div {
  float: left;
}

.btn
{
  margin: 10px; padding: 5px 30px 5px 35px; font-weight: bold;
}

.btn_label
{
  color: white;
  font-weight: bold;
}
/*cant use 2 callbacks*/
/*.pac-card {*/
/*  margin: 10px 10px 0 0;*/
/*  border-radius: 2px 0 0 2px;*/
/*  box-sizing: border-box;*/
/*  -moz-box-sizing: border-box;*/
/*  outline: none;*/
/*  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);*/
/*  background-color: #fff;*/
/*  font-family: Roboto;*/
/*}*/

/*#pac-container {*/
/*  padding-bottom: 12px;*/
/*  margin-right: 12px;*/
/*}*/

/*.pac-controls {*/
/*  display: inline-block;*/
/*  padding: 5px 11px;*/
/*}*/

/*.pac-controls label {*/
/*  font-family: Roboto;*/
/*  font-size: 13px;*/
/*  font-weight: 300;*/
/*}*/

/*#pac-input {*/
/*  background-color: #fff;*/
/*  font-family: Roboto;*/
/*  font-size: 15px;*/
/*  font-weight: 300;*/
/*  margin-left: 12px;*/
/*  padding: 0 11px 0 13px;*/
/*  text-overflow: ellipsis;*/
/*  width: 400px;*/
/*}*/

/*#pac-input:focus {*/
/*  border-color: #4d90fe;*/
/*}*/

/*#title {*/
/*  color: #fff;*/
/*  background-color: #4d90fe;*/
/*  font-size: 25px;*/
/*  font-weight: 500;*/
/*  padding: 6px 12px;*/
/*}*/

/*#target {*/
/*  width: 345px;*/
/*}*/
