/*sanity check*/
/*body {*/
/*    background-color: orange;*/
/*}*/

#map 
{
    min-height: 360px;
    height: 400px;
}

#logo 
{
    width: auto;
    height: 100px;
}

.top-div
{
    padding: 0px;
}

.search-box 
{
    padding-top: 0.5rem;
    margin-bottom: 0.25em !important;
}

/*GOOGLE MAP API STEP 7 - need to style in order for map to appear in the div id=map*/
/*#map */
/*{*/
/*    border-style: groove;*/
    /*height: 15rem;*/
/*    height: 290px;*/
/*    padding: 0px;*/
/*}*/

.row
{
    margin: 0.25em;
}

/*.container*/
/*{*/
    /*margin: 0px;*/
    /*padding:;*/
/*}*/




/* chk-btn CSS from
http://stackoverflow.com/questions/30100978/how-to-make-a-check-button-hidden-checkbox-with-label-as-a-button-css-only
*/

input.chk-btn {
    display: none;
}

input.chk-btn+label {
    border: 1px solid grey;
    background: ghoswhite;
    padding: 5px 8px;
    cursor: pointer;
    border-radius: 5px;

}

input.chk-btn:not(:checked)+label:hover {
    box-shadow: 0px 1px 3px;

}

input.chk-btn+label:active,
input.chk-btn:checked+label {
    box-shadow: 0px 0px 3px inset;
    background: #8cc472;

}
